<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WinCopies.IconExtractor" version="1.0.3-rc" targetFramework="net472" />
  <package id="WinCopies.Util" version="2.2.0-preview3" targetFramework="net472" />
  <package id="WinCopies.WindowsAPICodePack.Win32Native" version="2.0.0-preview6" targetFramework="net472" />
  <package id="WinCopies.WindowsAPICodePack.Win32Native.Consts" version="2.0.0-preview6" targetFramework="net472" />
</packages>